[workspace]
members = ["migrator", "server", "store", "types"]
resolver = "2"

[workspace.package]
version = "0.9.0"
edition = "2024"

[workspace.dependencies]
axum = "0.8.8"
boile-rs = { version = "0.1.2", git = "https://github.com/m-lima/boile-rs" }
chrono = { version = "0.4.43", default-features = false }
clap = "4.5.60"
hyper = "1.8.1"
itoa = "1.0.17"
pwner = "0.1.8"
rand = "0.10.0"
rmp-serde = "1.3.1"
serde = "1.0.228"
serde_json = "1.0.149"
sqlx = "0.8.6"
thiserror = "2.0.18"
tokio = "1.49.0"
tower-layer = "0.3.3"
tower-service = "0.3.3"
tracing = { version = "0.1.44", default-features = false }
tracing-subscriber = { version = "0.3.22", default-features = false }

[workspace.metadata.crane]
name = "skull-back"
