.summary {
  align-self: flex-start;

  width: 100%;
  border-collapse: collapse;
  text-align: left;

  /* margin: auto; */
}

.summary th {
  padding: 12px;

  font-weight: bolder;

  background-color: var(--shade-0);
}

.summary td {
  padding: 8px;
}

.summary #icon {
  padding: 0;
  width: 1em;
  text-align: center;
}

.summary tr {
  cursor: pointer;
}

.summary tr#dark,
.summary tr#bright {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.summary tr#dark {
  background-color: var(--shade-1);
  border-bottom-color: var(--shade-2);
}

.summary tr#bright {
  background-color: var(--shade-2);
  border-bottom-color: var(--shade-1);
}

.summary tr#dark:hover,
.summary tr#bright:hover {
  background-color: var(--shade-3);
}

#next {
  width: 100%;
  font-size: 2em;

  padding-top: 5px;
  padding-bottom: 5px;

  cursor: pointer;
}

#next:hover {
  background-color: var(--shade-3);
}
