.banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(20px + 3vmin);
}

.banner > .fas {
  font-size: 30vmin;
  padding-bottom: 10px;
}

.banner-action {
  color: var(--font-color-dim);
  cursor: pointer;
  text-decoration: underline;
  margin-top: 30px;
}

.banner-error-message {
  background-color: var(--shade-0);

  font-size: 50%;
  color: var(--font-color-dim);

  border-radius: 32px;
  padding: 32px;
  margin-top: 32px;
}
